@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,600&display=swap");

/********************* Design Steps ************************
1. Default CSS
2. we do sec
3. our customer sec
4. local supply sec
5. global sec
6. mission sec
7. we-work-sec
*************************************************************/

/* 1. Default CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --Theme-color: #0a3d4c;
  --title-font-family: "Jost", sans-serif;
  --font-en-primary: "Poppins", sans-serif;
  --heading-color: #000000;
  --heading-secondary-color: #d39d27;
  --primary-color: #003d4c;
  --text-color: #777777;
  --btn-bg-color: #d39d27;
  --error-text-color: #f2545b;
  --color-white: #fff;
  --color-black: #000000;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font-family);
  font-size: 1.6rem;
  font-weight: 400;
}

section {
  padding-block: 50px;
}

a {
  color: unset;
}

u {
  text-decoration: underline !important;
}

/* 2. we do sec */
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.wrapper .left-do,
.right-do {
  height: 410px;
}

.wrapper .left-do img {
  display: block;
  margin-left: auto;
  max-width: 80%;
  height: 100%;
  object-fit: cover;
}

.wrapper .right-do {
  padding-left: 35px;
}

.wrapper .right-do strong {
  font-family: var(--font-en-primary);
  display: block;
  color: var(--text-color);
  font-weight: 700;
  margin-top: 6rem;
}

.wrapper .right-do h3 {
  margin-block: 40px;
  font-family: var(--title-font-family);
  font-size: 3.5rem;
  font-weight: 500;
  padding-right: 120px;
}

/* 3. our customer sec */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-card img {
  max-width: 100%;
  object-fit: cover;
}

.card-body {
  width: 100%;
  margin-top: 2.5rem;
}


.card-body h2 {
  font-size: 1.8rem;
  font-family: var(--title-font-family);
  font-weight: 500;
  margin-bottom: 4.5rem;
}

/* 4. local supply sec */
.right-trans {
  position: relative;
  padding-top: 2rem;
  width: 100%;
}

.right-trans::before {
  content: "";
  width: 80px;
  height: 100%;
  background-image: linear-gradient(to right, rgb(255 255 255), rgba(255,0,0,0));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.right-trans::after {
  content: "";
  width: 80px;
  height: 100%;
  background-image: linear-gradient(to left, rgb(255 255 255), rgba(255,0,0,0));
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.right-trans .marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
.marquee span {
  font-size: 5.5rem;
  font-family: var(--title-font-family);
  font-weight: 500;
  display: inline-block;
  position: relative;
  left: 100%;
  animation: marquee 60s linear infinite;
}
.marquee:hover span {
  animation-play-state: paused;
}

.marquee span:nth-child(1) {
  animation-delay: 0s;
}
.marquee span:nth-child(2) {
  animation-delay: 0.8s;
}
.marquee span:nth-child(3) {
  animation-delay: 1.6s;
}
.marquee span:nth-child(4) {
  animation-delay: 2.4s;
}
.marquee span:nth-child(5) {
  animation-delay: 3.2s;
}

@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}

.supply-trans {
  width: 55%;
  text-align: center;
  color: var(--text-color);
  margin: auto;
  margin-block: 3rem;
  font-size: 1.6rem;
  font-family: var(--font-en-primary);
}

/* 5. global sec */
section.global-sec {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: var(--color-white);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-attachment: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/global-bg.jpg') no-repeat center center !important;
}

section.global-sec .title {
  color: var(--color-white);
  width: 47%;
}

/* 6. mission sec */
section.mission-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--Theme-color);
  color: var(--color-white);
}

section.mission-sec .title {
  color: var(--color-white);
}

section.mission-sec .mission-txt {
  width: 50%;
  margin: 0 auto;
}

section.mission-sec .mission-txt p {
  font-size: 2.5rem;
  font-family: var(--font-en-primary);
  font-weight: 300;
  line-height: 1.4;
}

/* 7. we-work-sec */
.we-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.we-work .title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.work-logo {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.work-logo img {
  max-width: 80%;
}

.logo2 {
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 8rem;
}

.wrapper2 .left-do, .wrapper2 .right-do {
  height: auto;
}

.wrapper2 .left-do img {
  height: auto;
    padding-top: 119px;
    max-width: 70%;
}

.right-do p {
  max-width: 80%;
  font-size: 2.5rem;
  font-family: var(--font-en-primary);
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

/******* Re-usable style *******/
.container {
  max-width: 1487px;
  margin-inline: auto;
  width: 100%;
  padding-inline: 15px;
}

.btn {
  font-family: var(--title-font-family);
  font-weight: 500;
  color: var(--color-white);
  padding: 1.3rem 2.171rem;
  text-align: center;
  border-radius: 5px;
}

.btn-primary {
  background: var(--btn-bg-color);
}

.btn-secondary {
  background-color: var(--Theme-color);
}

.title {
  font-family: var(--title-font-family);
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  margin-bottom: 3.5rem;

}

/********** mobile responsive ***********/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .wrapper .left-do,
  .right-do {
    height: 500px !important;
  }

  .wrapper .right-do h3 {
    font-size: 3rem;
    padding-right: 40px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .marquee span {
    font-size: 4rem;
  }
}

@media (max-width: 426px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .wrapper .left-do img {
    margin-left: 0;
    max-width: 100%;
  }

  .wrapper .right-do {
    padding-left: 0;
    height: 400px !important;
  }

  .wrapper .right-do h3 {
    padding-right: 0;
    font-size: 2.8rem;
  }

  .btn {
    padding: 1.3rem 6rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .marquee span {
    font-size: 3.7rem;
  }
}

@media (max-width: 376px) {
 .btn {
    padding: 1.3rem 3rem !important;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
